#afui .button {
	position:relative;
	display:inline-block;
	padding:8px 12px;
	margin:8px 0;
	font-weight:bold;
	color:#000;
	text-align:center;
	text-shadow:0 1px 0 #fff;
	vertical-align:top;
	cursor:pointer;
	background-color:#ACACAC;
	border:1px solid #666;
	border-radius:6px;
	/*box-shadow: 0 1px 0 #fff;*/

	text-decoration: none;
	z-index:2;
}
#afui .veg{
	min-width: 200px;
	background-color: #2ECC71;
}
#afui .fruit{
	min-width: 200px;
	background-color: #D35400;
}
/* Active */
#afui .button.pressed { background:#fff; }

#afui .button.previous {

	margin-left:16px;
	padding-left:6px;
	border-color:#666 #666 #666 transparent !important;
}
#afui .button.next {
	border-color:#666 transparent #666 #666 !important;
	margin-right:16px;
	padding-right:6px;
}


#afui .button.previous::after {

    z-index:-1;
	content:'';
	position:absolute;
	width:25px; height:25px;
	background-color:inherit;
  	top:3px; left:-11px;
    border-radius:5px;
    border:1px solid;
	border-color:transparent transparent inherit transparent;
     -webkit-transform:rotate(45deg); transform:rotate(45deg);
}
#afui .button.next::after {
	z-index:-1;
	content:'';
	position:absolute;
	width:25px; height:25px;
	background-color:inherit;
  	top:3px; right:-11px;
    border-radius:5px;
    border:1px solid;
    border-color:transparent transparent transparent transparent;
   -webkit-transform:rotate(45deg); transform:rotate(45deg);
}

#afui .button.block {	display:block; }

#afui .button.flat {
	border-radius: 0;
	box-shadow:none;
}
#afui .button-grouped { display:inline-block; }
#afui .button-grouped * {
	border-radius:0px;
	float:left;
	border:0px;
	border-right: 1px solid #666;
	border-bottom: 1px solid #666;
	border-top: 1px solid #666;
    margin:0;
}
#afui .button-grouped > .button:first-child {
	border-left: 1px solid #666;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}
#afui .button-grouped > .button:last-child {
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}

#afui .button-grouped.flex {
	display: -webkit-box;
  	display: -moz-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
  	display: flex;
}

#afui .button-grouped.flex > .button {
	-webkit-box-flex: 1;
  	-moz-box-flex: 1 auto;
  	-webkit-flex: 1 auto;
  	-ms-flex: 1 auto;
  	flex: 1 auto;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#afui .button-grouped.flex.vertical {
	display: inline-block;
}

#afui .button-grouped.vertical * {
	border-radius:0px;
	display:block;
	float:none;
	width:100%;
	border:0px;
	border-left: 1px solid #666;
	border-right: 1px solid #666;
	border-top: 1px solid #666;
}

#afui .button-grouped.vertical > .button:first-child {
	border-left: 1px solid #666;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom-left-radius:0px;
}
#afui .button-grouped.vertical > .button:last-child {
	border-top-right-radius:0px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border-bottom:1px solid #666;
}


#afui .button.gray {
	background:#999;
	border-color:#666;
}

#afui .button.yellow {
	background-color:#F1C222;
	border-color:#999;
}

#afui .button.red {
	color:#fff;
	text-shadow:0 -1px 0 #666;
	background:#B20000;
	border-color:#666;
}

#afui .button.green {
	color:#fff;
	text-shadow:0 -1px 0 #666;
	background:#009C0C;
	border-color:#666;
}

#afui .button.orange {
	color:#fff;
	text-shadow:0 -1px 0 #666;
	background-color:#FF8000;
	border-color:#666;
}

#afui .button.black {
	color:#fff;
	text-shadow:none;
	background:#000;
	border-color:#666;
}

#afui .button.slate {
	color:#fff;
	text-shadow:0 -1px 0 #000;
	background:#171F28;
	border-color:#666;
}

#afui #header .button {
	font-size:12px;
	padding:7px ;
	height:32px;
	margin-top:5px;
}


