
#afui .grid {
  width: 100%;
  overflow:hidden; /* hack to take up height*/
}
#afui .col2,
#afui .col3,
#afui .col1-3,
#afui .col2-3 {
  float: none;
  width: 100%;
}
#afui .grid:after {
  content: '';
  clear: both;
}
@media handheld, only screen and (min-width: 250px) {
  #afui .col2 {
    width: 50%;
    float: left;
  }
  #afui .col3 {
    width: 33.3%;
    float: left;
  }
  #afui .col1-3 {
    width: 33.3%;
    float: left;
  }
  #afui .col2-3 {
    width: 66.6%;
    float: left;
  }
}
@media handheld, only screen and (min-width: 3550px) {
  #afui .colh2 {
    width: 50%;
    float: left;
  }
  #afui .colh3 {
    width: 33.3%;
    float: left;
  }
  #afui .colh1-3 {
    width: 33.3%;
    float: left;
  }
  #afui .colh2-3 {
    width: 66.6%;
    float: left;
  }
}